<mat-toolbar color="black">
    <img src="./assets/image/Marvel_Logo.svg.png">
    <ul>
      <li><a routerLink="list" routerLinkActive="active">Heroes List</a></li>
      <li><a routerLink="fav" routerLinkActive="active">Favorites</a></li>
    </ul>
</mat-toolbar>
