:host{
    margin-bottom:15px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 40px;
}

a {
    color: rgb(171, 163, 163);
    text-decoration: none;
    font-weight: normal;
    // &:hover {
    //     text-decoration: underline;
    // }
}

.mat-toolbar {
    background: rgba(0,0,0,.87);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

img{
height: 80%;
}

.active{
    color:white;
}