.mat-card{
    width: 75%;
    margin-bottom: 15px;
    display: flex;
    //justify-content: space-between
}

.mat-card-title-group{
    display: flex;
    flex-direction: column;
    flex:1;
    padding:0 8px;
}

.content-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:1;
}

.hero-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

mat-icon{
    cursor:pointer;
}