<mat-card *ngFor="let hero of heroes" class="hero-card">
    <img mat-card-md-image src="{{hero.path + '.' + hero.extension}}" >
    <div class="content-wrapper">
        <mat-card-title-group>
            <mat-card-title>{{hero.name}}</mat-card-title>
            <mat-card-content>
                {{hero.description}}
            </mat-card-content>
        </mat-card-title-group>
    </div>
    <mat-icon
        aria-hidden="false" 
        aria-label="interact" 
        (click)="emitId(hero.id, hero.name)">
        {{page === 'all' ? 'add_circle' : 'cancel'}}
    </mat-icon>
</mat-card>
