ul{
    margin:0;
    padding:0;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li img{
    max-width: 50px;
    max-height: 50px;
}

li span{
    padding-left:15px;
}

.list{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}